*{
    margin: 0;
}

html{
    height: 100%;
    background-color: black;
}

@font-face{
    font-family: "Minecraft Seven v2";
    src:url(./assets/fonts/Minecraft-Seven_v2.ttf) format("truetype");
}

body{
    font:inherit;
    font-family:"Minecraft Seven v2", sans-serif;
    padding:40px;
    background-color:black;
    color:white;
}

/*Default hyperlink colors*/
a{color:lime;}
a:hover{color:deepskyblue;}
a:active{color:red;}
a:visited{color:yellow;}

/*Changelog colors*/
.additions {
    list-style-type: "+ ";
    color: lime;
}
.changes {
    list-style-type: "* ";
    color: yellow;
}
.fixes {
    list-style-type: "- ";
    color:red;
}

/*Use for laying elements out horizontally*/
.row{
    display: flex;
    flex-direction: row;
}

/*For displaying items on the item page*/
.itemDiv {
    width: 46%;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    font-size: 1.5em;
    border-radius: 0;
    border: 3px solid white;
    transition: border 1s ease;
    padding: 20px;
    margin: 5px 5px;
}
.description {transition: opacity 0.6s ease;}
.itemName {transition: opacity 0.6s ease;}
.itemImage {transition: opacity 0.6s ease;}
.mineButton {
    margin: auto 5px 5px;
    padding: 5px 5px;
    cursor: pointer;
    font: inherit;
    width:50%;
    align-self: center;
    background-color: #999999;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
}
.mineButton:hover {
    background-color: #BBBBBB;
    color: black;
}
.mineButton:active {
    background-color: #777777;
}
.mineA{
    color: black;
    text-align: center;
    text-decoration: none;
}
.mineA:hover {
    color: black;
    background-color: #BBBBBB;
}
.mineA:active {background-color: #777777;}

.mineA:visited {color:black}

.fakeButton{
    width:50%;
    height: 88%;
    padding: 0;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: auto 5px 5px;
    cursor: pointer;
    background:#999999;
}
.fakeButton:hover {background-color: #BBBBBB;}
.fakeButton:active {background-color: #777777;}

/*Main navigation buttons (not actually buttons, use this class for <a> tag)*/
.nav{
    font-size:48px;
    padding: 5px;
    border:3px solid white;
    color:white;
    text-decoration:none;
    margin: 10px 5px;
}
.nav:hover{
    background: linear-gradient(to left, #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2a,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d5ff,
    #0af,
    #0080ff,
    #05f,
    #002aff,
    #00f,
    #2b00ff,
    #50f,
    #8000ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00);
    animation: rainbow-move-left-right 5s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav:visited{color:white}
@keyframes rainbow-move-left-right {
    0% {background-position: 0 0    }
    100% {background-position: -500px 0}
}

/*Temporary code until we debut the website*/
.construction{

    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:mediumorchid;
    background-image: repeating-linear-gradient(
        45deg,
        yellow,
        yellow 10px,
        transparent 10px,
        transparent 20px
    );

}